Repository statisticsnorway/freg-quality-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

PF-681: Update pre-commit description in README.md
  README.md
Due: none

PF-681: Don't use local version of pre-commit hooks
  .pre-commit-config.yaml
  README.md
Due: check-yaml

PF-681: Upgrade to python 3.10
  README.md
  poetry.lock
  pyproject.toml
Due: check-toml

Refactoring
  freg_quality_metrics/app.py
  freg_quality_metrics/bigquery.py
  freg_quality_metrics/config.py
  freg_quality_metrics/metrics.py
  freg_quality_metrics/scheduler.py
Due: black

Correcting return type
  freg_quality_metrics/bigquery.py
Due: black

Updated comments
  freg_quality_metrics/bigquery.py
Due: black

PF-681: Scan with SonarCloud
  .github/workflows/main.yml
  .pre-commit-config.yaml
  sonar-project.properties
Due: check-yaml

Type-cast of environment variable
  freg_quality_metrics/app.py
  freg_quality_metrics/config.py
Due: black

PF-687: Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

PF-687: Report Snyk errors to GitHub Code Scanning
  .github/workflows/main.yml
Due: check-yaml

PF-687: Fix code smells
  .gitignore
  freg_quality_metrics/app.py
  freg_quality_metrics/bigquery.py
  freg_quality_metrics/config.py
  freg_quality_metrics/metrics.py
  freg_quality_metrics/scheduler.py
  tests/test_bigquery.py
Due: black

PF-687: Add testing and coverage calculations
  .github/workflows/main.yml
  poetry.lock
  sonar-project.properties
Due: check-yaml

PF-687: Fix reporting of Snyk errors
  .github/workflows/main.yml
Due: check-yaml

Updated comments regarding SA
  Dockerfile
  README.md
Due: none
